body {
	background: linear-gradient(-45deg, #2EC0F9, #67AAF9, #10BDF9, #C4E0F9);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
h1{
    text-align: center;
    font-family: "Encode Sans Semi Expanded";
    vertical-align: middle;
    line-height: 3000%;
    font-size-adjust: 3;
}
div{
    text-align: center;
    vertical-align: middle;
    font-size-adjust: 3;
}
div a{
    text-decoration: none;
    color: #000;
    font-family: "Atma";
}